[submodule "2_trading"]
	path = 2_trading
	url = git@github.com:SpirinEgor/trading_story.git
[submodule "3_modeling"]
	path = 3_modeling
	url = git@github.com:SpirinEgor/statistic_for_modeling_story.git
[submodule "5_reinforcement"]
	path = 5_reinforcement
	url = git@github.com:SpirinEgor/rl_story.git
[submodule "6_spellchecker"]
	path = 6_spellchecker
	url = git@github.com:SpirinEgor/spellchecker_story.git
